.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    background: url('./images/background.png') center center no-repeat fixed;
    background-size: 100%;
}

.title{
  font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-size: xxx-large;
    font-style: normal;
    color: #fec200;
}

.container{
  width: 100%;
  height: 100%;
}

.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  width: 100%;
  height: 100%;
  gap: 100px;
}

.button-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.button-game{
  position: relative;
  text-align: center;
  overflow: hidden;
  max-width: 370px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.button-game:hover{
  transform: scale(1.1);
}

.button-title{
  position: absolute;
  top: 16px;
  left: 120px;
  font-weight: 200;
  color: white;
}
.button-description{
  position: absolute;
  bottom: 21px;
  left: 104px;
  font-size: 14px;
  font-weight: 200;
  color: white;
  text-align: left;
}